.DiscussionList {
  .item-tag:before {
    content: "\a";
    white-space: pre;
  }
  .item-terminalPost {
    position: absolute;
    font-size: 14px;
    right:10px;
    bottom:34px;
  }
  .item-excerpt {
    display:block !important;
    font-size: 14px;
    width:100%;
  }
  .item-excerpt:after {
    content: "\a";
    white-space: pre;
  }
  .item-tag {
    width: 100%;
    border-top: solid 1px;
    line-height: 34px;
  }
  .DiscussionListItem-stats, .DiscussionListItem-count {
    color: white !important;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
  &-discussions > li {
    .asirem-border-radius(~'.Avatar');

    .TagLabel-inner {
      font-size: 16px;
      font-weight: bold;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .item-excerpt, .item-terminalPost {
      font-size: 12px;
    }
  }

  &Item {
    background: @control-bg;
    margin: 0 0 4px;
    padding: 0;
    border-radius: @border-radius;

    &-controls .Dropdown-toggle {
      position: absolute;
      top: -20px;
      right: -8px;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      border-width: 0 35px 35px 0;
      color: #ffffff;
    }

    &-info {
      font-size: 12px;
    }

    &--unapproved {
      background-color: @unapproved-discussion-bg;

      .DiscussionListItem-content {
        opacity: 1;
      }
    }

    &-badges {
      .Badge {
        --size: 20px;
        box-shadow: -1px 1px 2px #00000038;
        width: var(--size);
        height: var(--size);
        line-height: var(--size);

        &-icon {
          font-size: 10px;
        }
      }
    }
  }

  &-loadMore {
    margin-top: 5px;

    .Button {
      width: 100%;
      height: 100%;
    }
  }
}
.StickyNoteMinimal {
  .DiscussionListItem {
    & {
      border-radius: 15px 42px 15px 15px
    }
    &--primary {
      font-weight: bold;
      position: absolute;
      top: -6px;
      left: 10px;
      font-size: 16px;
    }
    &--secondary {
      font-weight: bold;
      position: absolute;
      top: -6px;
      right: 10px;
      font-size: 12px;
    }
    &-content {
      display: flex;
      padding: 12px;
      margin-bottom: 12px;
      border-radius: 15px 42px 15px 15px;
    }
    &--unread {
      content: "";
      position: absolute;
      top: -1px;
      right: -1px;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      border-width: 0 35px 35px 0;
      border-style: solid;
    }
    &--unread::after {
      content: "";
      position: absolute;
      top: -1px;
      right: -35px;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      border-width: 0 35px 35px 0;
      border-style: solid;
      border-color: transparent @body-bg
    }

    &--read {
      content: "";
      position: absolute;
      top: -1px;
      right: -1px;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      border-width: 0 35px 35px 0;
      border-style: solid;
    }
    &--read::after {
      content: "";
      position: absolute;
      top: -1px;
      right: -35px;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      border-width: 0 35px 35px 0;
      border-style: solid;
      border-color: transparent @body-bg
    }
  }
}

.StickyNote {
  .DiscussionListItem {
    & {
      border-radius: 15px 42px 15px 15px
    }
    &--primary {
      font-weight: bold;
      position: absolute;
      top: -2px;
      left: 10px;
      font-size: 16px;
    }
    &--secondary {
      font-weight: bold;
      position: absolute;
      top: 2px;
      right: 10px;
      font-size: 12px;
    }
    &-content {
      display: flex;
      padding: 12px;
      margin-bottom: 12px;
    }
    &--unread {
      content: "";
      position: absolute;
      top: -1px;
      right: -1px;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      border-width: 0 35px 35px 0;
      border-style: solid;
    }
    &--unread::after {
      content: "";
      position: absolute;
      top: -1px;
      right: -35px;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      border-width: 0 35px 35px 0;
      border-style: solid;
      border-color: transparent @body-bg
    }

    &--read {
      content: "";
      position: absolute;
      top: -1px;
      right: -1px;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      border-width: 0 35px 35px 0;
      border-style: solid;
    }
    &--read::after {
      content: "";
      position: absolute;
      top: -1px;
      right: -35px;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      border-width: 0 35px 35px 0;
      border-style: solid;
      border-color: transparent @body-bg
    }
  }
}

.App {
  .IndexPage .DiscussionListItem,
  .UserPage .DiscussionListItem {
    &-info {
      > .item-tags {
        top: 0;
        right: 0;
      }
    }
  }

  .DiscussionListItem {
    &-info-edit {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: 11px;
      display: flex;
      align-items: center;
      flex-wrap: wrap
    }

    &-title-edit{
      margin: 0 0 3px;
      line-height: 1.3;
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 20px;
    }

    &-main {
      padding: 0;
      margin: 0;
      position: relative;
    }

    &-badges {
      margin: 0;
      width: auto;
      float: none;
      position: absolute;
      right: -7px;
      top: -4px;
      display: block;
    }

    &-author {
      float: none;
      margin: 0;
      display: block;

      &-container {
        margin-right: 15px;
        position: relative;

        > .tooltip {
          width: max-content;
        }
      }

      .Avatar {
        .asirem-icon-block(50px, @body-bg);
      }
    }

    &-content {
      display: flex;
      padding: 12px;
    }

    &-stats {
      margin-left: 10px;
      margin-right: 15px;
    }

    &-count {
      margin: 0;
      padding: 0;
      float: none;
      display: block;

      &::before {
        margin: 0 5px 0 0;
        padding: 0;
        float: none;
      }
    }

    &-footer {
      border-radius: 0px 0px 15px 15px;
      position: absolute;
      height: 18%;
      width: 100%;
      left: 0%;
      bottom: 0%;
    }
  }
}

@media @phone {
  .item-terminalPost {
    display:none !important;
  }
  .item-tag {
    width: 100%;
    border-top: none;
  }
}
